# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Data Directory
c12_6ranks_baroclinic_dycore_microphysics/
c48_6_ranks_standard/
c48_6_ranks_standard/*

# gt_cache
.gt_cache/
python/.gt_cache/
c48_6ranks_standard/c48_6ranks_standard.yml
c48_6ranks_standard/env.out
c48_6ranks_standard/fortran_sha.txt
c48_6ranks_standard/Generator_rank5_utc.dat
c48_6ranks_standard/Generator_rank5_utd.dat
c48_6ranks_standard/Generator_rank5_v_dt.dat
c48_6ranks_standard/Generator_rank5_v_srf.dat
c48_6ranks_standard/Generator_rank5_v.dat
c48_6ranks_standard/Generator_rank5_va.dat
c48_6ranks_standard/Generator_rank5_vad.dat
c48_6ranks_standard/Generator_rank5_var_in_2.dat
c48_6ranks_standard/Generator_rank5_var_in_3.dat
c48_6ranks_standard/Generator_rank5_var_in.dat
c48_6ranks_standard/Generator_rank5_var_inout_2.dat
c48_6ranks_standard/Generator_rank5_var_inout_3.dat
c48_6ranks_standard/Generator_rank5_var_inout.dat
c48_6ranks_standard/Generator_rank5_vb.dat
c48_6ranks_standard/Generator_rank5_vc.dat
c48_6ranks_standard/Generator_rank5_vcd.dat
c48_6ranks_standard/Generator_rank5_vd.dat
c48_6ranks_standard/Generator_rank5_vlat.dat
c48_6ranks_standard/Generator_rank5_vlon.dat
c48_6ranks_standard/Generator_rank5_vort_c.dat
c48_6ranks_standard/Generator_rank5_vort.dat
c48_6ranks_standard/Generator_rank5_vt.dat
c48_6ranks_standard/Generator_rank5_vtc.dat
c48_6ranks_standard/Generator_rank5_vtd.dat
c48_6ranks_standard/Generator_rank5_w.dat
c48_6ranks_standard/Generator_rank5_w3.dat
c48_6ranks_standard/Generator_rank5_wc.dat
c48_6ranks_standard/Generator_rank5_wd.dat
c48_6ranks_standard/Generator_rank5_wd2.dat
c48_6ranks_standard/Generator_rank5_wk.dat
c48_6ranks_standard/Generator_rank5_wq.dat
c48_6ranks_standard/Generator_rank5_ws_1d.dat
c48_6ranks_standard/Generator_rank5_ws.dat
c48_6ranks_standard/Generator_rank5_wsd.dat
c48_6ranks_standard/Generator_rank5_xflux_2.dat
c48_6ranks_standard/Generator_rank5_xflux.dat
c48_6ranks_standard/Generator_rank5_xfx_adv.dat
c48_6ranks_standard/Generator_rank5_xfx.dat
c48_6ranks_standard/Generator_rank5_xfxd.dat
c48_6ranks_standard/Generator_rank5_yflux.dat
c48_6ranks_standard/Generator_rank5_yfx_adv.dat
c48_6ranks_standard/Generator_rank5_yfx.dat
c48_6ranks_standard/Generator_rank5_yfxd.dat
c48_6ranks_standard/Generator_rank5_z_rat.dat
c48_6ranks_standard/Generator_rank5_zh.dat
c48_6ranks_standard/Generator_rank5_zhd.dat
c48_6ranks_standard/Generator_rank5_zs.dat
c48_6ranks_standard/Generator_rank5_zsum0.dat
c48_6ranks_standard/Generator_rank5_zsum1.dat
c48_6ranks_standard/Generator_rank5_zvir.dat
c48_6ranks_standard/input.nml
c48_6ranks_standard/logfile.000000.out
c48_6ranks_standard/md5sums.txt
c48_6ranks_standard/MetaData-Generator_rank0.json
c48_6ranks_standard/MetaData-Generator_rank1.json
c48_6ranks_standard/MetaData-Generator_rank2.json
c48_6ranks_standard/MetaData-Generator_rank3.json
c48_6ranks_standard/MetaData-Generator_rank4.json
c48_6ranks_standard/MetaData-Generator_rank5.json
c48_6ranks_standard/stderr.out
c48_6ranks_standard/stdout.out
examples/.dace.conf
.gitignore
