[submodule "external/fv3gfs-wrapper"]
	path = external/fv3gfs-wrapper
	url = git@github.com:VulcanClimateModeling/fv3gfs-wrapper.git
[submodule "external/fv3gfs-util"]
	path = external/fv3gfs-util
	url = git@github.com:VulcanClimateModeling/fv3gfs-util.git
[submodule "external/fv3gfs-fortran"]
	path = external/fv3gfs-fortran
	url = https://github.com/VulcanClimateModeling/fv3gfs-fortran.git
[submodule "external/daint_venv"]
	path = external/daint_venv
	url = git@github.com:VulcanClimateModeling/daint_venv.git
