[submodule "fv3core"]
	path = fv3core
	url = git@github.com:VulcanClimateModeling/fv3core.git
[submodule "fv3gfs-util"]
	path = fv3gfs-util
	url = git@github.com:VulcanClimateModeling/fv3gfs-util.git
[submodule "fv3gfs-physics"]
	path = fv3gfs-physics
	url = git@github.com:VulcanClimateModeling/fv3gfs-physics.git
