include LICENSE
include README.md

recursive-include tests *.py *.sh
recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
recursive-include fv3util *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.mod *.o
recursive-exclude * *.log
