pytest
pytest-subtests
pytest-regressions
pytest-profiling
pytest-cov
nbmake
mpi4py
xarray
zarr
dask>=2021.10.0
netCDF4
cftime
fv3config>=0.9.0
dace>=0.14
f90nml>=1.1.0
numpy>=1.15
-e external/gt4py
-e util[dace]
-e stencils
-e dsl
-e physics
-e fv3core
-e driver
