f90nml
pytest-xdist
pytest-dependency
pytest
pytest-cov
pytest-subtests
xarray
numpy
zarr
cftime
git+https://github.com/mpi4py/mpi4py.git@aac3d8f2a56f3d74a75ad32ac0554d63e7ef90ab
pip-tools
wheel
netCDF4
hypothesis
pybind11
scipy
git+https://github.com/VulcanClimateModeling/fv3config.git@a0799928824a4f10617cf4615e8837c81ccb1f2d
pytest-regressions
