stencil_config:
  compilation_config:
    backend: gtc:numpy
    rebuild: false
    validate_args: true
    format_source: false
    device_sync: false
initialization_type: serialbox
initialization_config:
  path: /test_data/8.0.0/c12_6ranks_baroclinic_dycore_microphysics/driver
  serialized_grid: True
performance_config:
  collect_performance: false
nx_tile: 12
nz: 79
dt_atmos: 225
minutes: 4
layout:
  - 1
  - 1
diagnostics_config:
  path: "output.zarr"
  names:
    - u
    - v
    - ua
    - va
    - pt
    - delp
    - qvapor
    - qliquid
    - qice
    - qrain
    - qsnow
    - qgraupel
dycore_config:
  namelist_override: /test_data/8.0.0/c12_6ranks_baroclinic_dycore_microphysics/driver/input.nml
physics_config:
  namelist_override: /test_data/8.0.0/c12_6ranks_baroclinic_dycore_microphysics/driver/input.nml
