f90nml
pytest-xdist
pytest-dependency
pytest
pytest-cov
pytest-subtests
pytest-profiling
xarray
numpy
zarr
cftime
pip-tools
wheel
netCDF4
hypothesis
scipy
pytest-regressions
gitpython
fv3config>=0.9.0

# GT4Py Tests
factory-boy
pytest-factoryboy
pytest-cache
pytest-cov

-r requirements_dace.txt
