version: 2.1
jobs:

  lint:
    docker:
    - image: circleci/python:3.8
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-{{ checksum ".pre-commit-config.yaml" }}-{{ checksum "constraints.txt" }}
      - run:
          name: run linting
          command: |
            python3 -m venv venv
            . venv/bin/activate
            sudo pip3 install pre-commit -c constraints.txt
            pre-commit run --all-files
      - save_cache:
          key: v1-{{ checksum ".pre-commit-config.yaml" }}-{{ checksum "constraints.txt" }}
          paths:
            - ~/.cache/pre-commit
            - venv

  test_util:
    docker:
      - image: circleci/python:3.8
    working_directory: ~/repo

    steps:
      - checkout
      - run:
          name: Install Submodules
          command: git submodule update --init
      - restore_cache:
          keys:
            - v1-{{ checksum "pace-util/tox.ini" }}-{{ checksum "constraints.txt" }}
      - run:
          name: install tox and MPI
          command: |
            if [ $(python changed_from_main.py pace-util) != false ]; then
              sudo apt-get update
              sudo apt-get install libopenmpi3 libopenmpi-dev
              python3 -m venv pace-util/venv
              . pace-util/venv/bin/activate
              sudo pip3 install tox -c constraints.txt
            fi
      - run:
          name: run tests
          command: |
            if [ $(python changed_from_main.py pace-util) != false ]; then
              cd pace-util && tox -e test -e test_no_extras
            fi
      - save_cache:
          key: v1-{{ checksum "pace-util/tox.ini" }}-{{ checksum "constraints.txt" }}
          paths:
            - pace-util/.tox
            - pace-util/venv

  test_driver:
    docker:
      - image: circleci/python:3.8
    working_directory: ~/repo

    steps:
      - checkout
      - run:
          name: Install Submodules
          command: git submodule update --init
      - restore_cache:
          keys:
            - v1-driver-{{ checksum "driver/requirements.txt" }}-{{ checksum "constraints.txt" }}-{{ checksum "driver/setup.py" }}
      - run:
          name: install packages
          command: |
            if [ $(python changed_from_main.py driver) != false ]; then
              python3 -m venv driver/venv
              . driver/venv/bin/activate
              cd driver && sudo pip3 install -r requirements.txt . -c constraints.txt
            fi
      - run:
          name: run tests
          command: |
            if [ $(python changed_from_main.py driver) != false ]; then
              cd driver && mpirun -n 6 python3 -m mpi4py -m pace.driver.run examples/baroclinic_c48.yaml
            fi
      - save_cache:
          key: v1-driver-{{ checksum "driver/requirements.txt" }}-{{ checksum "constraints.txt" }}-{{ checksum "driver/setup.py" }}
          paths:
            - driver/venv

  test_fv3core:
    docker:
      - image: circleci/python:3.8
    working_directory: ~/repo

    steps:
      - checkout
      - run:
          name: Install Submodules
          command: git submodule update --init
      - restore_cache:
          keys:
            - v2-{{ checksum "fv3core/tox.ini" }}-{{ checksum "constraints.txt" }}
      - run:
          name: install tox
          command: |
            if [ $(python changed_from_main.py fv3core) != false ]; then
              python3 -m venv fv3core/venv
              . fv3core/venv/bin/activate
              sudo pip3 install tox -c constraints.txt
            fi
      - run:
          name: run tests
          command: |
            if [ $(python changed_from_main.py fv3core) != false ]; then
              cd fv3core && tox -e test
            fi
      - save_cache:
          key: v2-{{ checksum "fv3core/tox.ini" }}-{{ checksum "constraints.txt" }}
          paths:
            - fv3core/.tox
            - fv3core/venv

workflows:
  version: 2
  tagged-build:
    jobs:
      - lint:
          filters:
            tags:
              only: /^v.*/
      - test_util:
          filters:
            tags:
              only: /^v.*/
      - test_fv3core:
          filters:
            tags:
              only: /^v.*/
